//----header----//
.header {
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
    position: relative;
    gap: 20px;
  }
  &__contact {
    display: flex;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
    a {
      color: rgb(var(--primary));
      transition: 0.3s;
    }
  }
  &__logo {
    max-width: 223px;
    a {
      display: block;
    }
  }
}
.header-nav {
  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 26px;
    padding: 15px 65px;
    gap: 10px;

    @media (max-width: 1023px) {
      padding: 15px;
    }
    @media (max-width: 767px) {
      flex-direction: column;
      align-items: flex-start;
      background-color: transparent;
    }
  }
  li {
    transition: 0.3s;
    font-size: 14px;
    @media (max-width: 767px) {
      display: block;
    }
    &:hover {
      @media (any-hover: hover) {
        color: rgba(var(--primary));
      }
    }
  }
}

.burger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 24px;
  height: 24px;
  cursor: pointer;
  position: relative;
  span {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: rgba(var(--primary));
    left: 50%;
    transform: translateX(-50%);
    transition: 0.3s;
    &:nth-child(1) {
      top: 20%;
    }
    &:nth-child(2) {
      top: 50%;
      transform: translate(-50%, -50%);
    }
    &:nth-child(3) {
      bottom: 20%;
    }
  }
  &.active {
    z-index: 50;
    span {
      &:nth-child(1) {
        top: 30%;
        animation-name: anim-top-strip;
        animation-duration: 0.5s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in;
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        bottom: 30%;
        animation-name: anim-bottom-strip;
        animation-duration: 0.5s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in;
      }
    }
  }
}
@keyframes anim-top-strip {
  0% {
    top: 30%;
  }
  30% {
    top: 50%;
  }
  100% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }
}
@keyframes anim-bottom-strip {
  0% {
    bottom: 30%;
  }
  30% {
    bottom: 50%;
  }
  100% {
    bottom: 50%;
    left: 50%;
    transform: translate(-50%) rotate(-45deg);
  }
}
.header-mobile {
  display: none;
  @media (max-width: 767px) {
    display: block;
  }
  &__drop {
    width: 100%;
    max-width: 500px;
    position: fixed;
    right: 0;
    top: 7%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 10px;
    z-index: 150;
    background-color: #fff;
    transform: translateX(100%);
    opacity: 0;
    pointer-events: none;
    transition: 0.3s;
    &.active {
      opacity: 1;
      pointer-events: all;
      transform: translateX(0);
    }
  }
}
.header-desk {
  @media (max-width: 767px) {
    display: none;
  }
}
//----header finish----//

//-------banner------//
.banner {
  &__bg {
    position: relative;
    border-radius: 16px;
    overflow: hidden;
    video {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__info {
    position: relative;
    z-index: 1;
    padding: 120px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #fff;
  }

  &__info {
    position: relative;
    z-index: 1;
    padding: 120px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #fff;

    max-width: 1190px;
    margin: 0 auto;
    @media (max-width: 767px) {
      padding: 80px 15px;
    }
    @media (max-width: 575px) {
      padding: 64px 15px;
    }
  }
  &__title {
    text-align: center;
    position: relative;
    margin-bottom: 25%;
    @media (max-width: 1023px) {
      margin-bottom: 40%;
    }
    span {
      position: absolute;
      right: -120px;
      top: 70px;
      z-index: 0;
      @media (max-width: 1023px) {
        right: auto;
        left: 50%;
        transform: translateX(-50%);
        top: 70%;
        img {
          max-width: 100%;
        }
      }
      @media (max-width: 575px) {
        top: 80%;
      }
    }
  }
  &__descr {
    text-align: center;
  }
  &__text {
    max-width: 50%;
    margin: 0 auto;
    @media (max-width: 1023px) {
      max-width: 80%;
    }
  }
  &__btns {
    margin-top: 24px;
    display: inline-flex;
    gap: 16px;
    @media (max-width: 575px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}
//-------about finish------//

//-------about------//
.about {
  &__top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    margin-bottom: 50px;
    @media (max-width: 767px) {
      grid-template-columns: 1fr;
      margin-bottom: 40px;
    }
  }
  &__bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    @media (max-width: 767px) {
      grid-template-columns: 1fr;
    }
  }
  &__bottom-item {
    p {
      margin-bottom: 1em;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &__text {
    p {
      margin-bottom: 1em;
      &:last-child {
        margin-bottom: 50px;
        @media (max-width: 767px) {
          margin-bottom: 40px;
        }
      }
    }
  }
  &__title {
    padding-right: 100px;
    @media (max-width: 1200px) {
      padding-right: 0;
    }
  }
  &__num {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    // @media (max-width: 767px) {
    //   grid-template-columns: 1fr;
    // }
  }
  &__num-item {
    div {
      color: rgba(var(--primary));
      font-size: 52px;
      font-weight: 500;
      line-height: 1;
      margin-bottom: 16px;
    }
    span {
      font-size: 16px;
      color: rgba(20, 21, 23, 1);
    }
  }
}
//-------about finish------//

//----mix------//
.mix {
  &__inner {
    background-color: rgba(20, 21, 23, 1);
    border-radius: 16px;
    padding: 24px;
  }
  &__title {
    &.title {
      color: #fff;
      text-align: center;
      max-width: 50%;
      display: block;
      margin: 110px auto 60px;
    }
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
  }
}
.mix-item {
  &__img {
    border-radius: 24px;
    overflow: hidden;
    transition: 1s;
    position: relative;
    span {
      position: absolute;
      right: 20px;
      top: 20px;
      border-radius: 24px;
      background-color: rgba(238, 238, 238, 0.2);
      color: #fff;
      font-size: 14px;
      padding: 8px 16px;
      z-index: 1;
    }
    img {
      transition: 0.7s;
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }
  &:nth-child(2) {
    .mix-item__img span {
      background-color: rgba(var(--primary), 0.1);
      color: rgba(var(--primary));
    }
  }
  &:hover {
    img {
      @media (any-hover: hover) {
        transform: scale(1.2);
      }
    }
  }
}
//----mix finish------//

//-----service-------//
.service {
  &__head {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 40px;
  }
  &__subtitle {
    margin-top: 0.4em;
  }
  &__body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: ". a b" "c d .";
    gap: 24px;
    position: relative;
    @media (max-width: 1023px) {
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "a b" "c d";
    }
    @media (max-width: 767px) {
      grid-template-columns: 1fr;
      grid-template-areas: "a" "b" "c" "d";
    }
    &::after {
      content: "";
      display: block;
      background-image: url("../img/chain-left.webp");
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: cover;
      width: 320px;
      height: 370px;
      position: absolute;
      //left: 90px;
      right: 64%;
      top: 70px;
      transform: rotate(5deg);
      z-index: 1;
      @media (max-width: 1023px) {
        display: none;
      }
    }
  }
  &__footer {
    background-color: rgb(var(--primary));
    color: #fff;
    margin: auto -24px -24px;
    text-align: center;
    padding: 16px 24px;
  }
}
.service-item {
  border-radius: 16px;
  background-color: #fff;
  padding: 24px;

  box-shadow: 1px 2px 16px rgba(20, 21, 23, 0.1);
  display: flex;
  flex-direction: column;
  height: 370px;
  overflow: hidden;
  @media (max-width: 767px) {
    height: auto;
  }
  &:nth-child(1) {
    grid-area: a;
    column-count: 2/3;
  }
  &:nth-child(2) {
    grid-area: b;
    column-count: 3 /3;
  }
  &:nth-child(3) {
    grid-area: c;
  }
  &:nth-child(4) {
    grid-area: d;
    background: transparent;
  }
  &__name {
    color: rgb(var(--primary));
    margin-bottom: 16px;
  }
  &__text {
    font-size: 16px;
    p {
      margin-bottom: 1em;
      // &:last-child {
      //   margin-bottom: 0;
      // }
    }
  }
  &__tags {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    margin-top: auto;
    gap: 8px;
    @media (max-width: 767px) {
      margin-top: 16px;
    }
  }
  &__tag {
    color: rgb(var(--primary));
    background-color: rgba(var(--primary), 0.1);
    font-size: 14px;
    border-radius: 24px;
    padding: 8px 16px;
  }
  &__body {
    margin-top: auto;
  }
}
//-----service finish-------//

//---------modern-----------//
.modern {
  &__inner {
  }
  &__head {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    margin-bottom: 50px;
    @media (max-width: 1023px) {
      grid-template-columns: 1fr;
    }
  }
  &__text {
    p {
      padding-bottom: 16px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &__inner {
  }
  &__body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    @media (max-width: 1023px) {
      grid-template-columns: 1fr;
    }
  }
  &__img {
    @media (max-width: 1023px) {
      display: none;
    }
  }
}
.accordion {
  border-bottom: solid 1px;
  &:first-child {
    border-top: solid 1px;
  }
  &__body {
    font-size: 14px;
    opacity: 0;
    height: 0;
    transition: 0.3s;
  }
  &__head {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    cursor: pointer;
    padding: 25px 0;
    span {
      display: block;
      width: 18px;
      height: 18px;
      position: relative;
      transition: 0.3s;
      &::after,
      &::before {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        background-color: var(--color_text);
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
      &::after {
        transform: translate(-50%, -50%) rotate(90deg);
      }
      &::before {
        transform: translate(-50%, -50%) rotate(-0deg);
      }
    }
    &.open + .accordion__body {
      opacity: 1;
      //transform: translateY(0);
      height: auto;
      padding-bottom: 25px;
    }
    &.open span {
      transform: rotate(45deg);
    }
  }
}
//---------modern finish-----------//

//---------stack-----------//
.marquee-wrap {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  user-select: none;
  background-color: var(--body);
  //padding: 85px 0;
  margin-top: 40px;
  gap: 20px;
  &::after,
  &::before {
    content: "";
    height: 100%;
    top: 0;
    width: 10%;
    position: absolute;
    z-index: 1;
    pointer-events: none;
  }
  &::after {
    right: -5%;
    background-image: linear-gradient(
      to left,
      #eeeeee 50%,
      rgba(#eeeeee, 0.05)
    );
  }
  &::before {
    left: -5%;
    background-image: linear-gradient(
      to right,
      #eeeeee 50%,
      rgba(#eeeeee, 0.05)
    );
  }
}
.marquee {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: 30px;
  counter-reset: item;
  justify-content: space-around;
  min-width: 100%;
  animation: scroll 60s linear infinite;
}

.reverce {
  animation-direction: reverse;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 20px));
  }
}

//---------stack finish-----------//

//---------relation------------//
.relation {
  &__wrap {
    padding: 0;
  }
  &__inner {
    background-color: var(--dark);
    border-radius: 24px;
    padding: 64px 24px;
    color: #fff;
    @media (max-width: 1023px) {
      padding: 55px 24px;
    }
    @media (max-width: 575px) {
      padding: 45px 16px;
    }
  }
  &__block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    @media (max-width: 1023px) {
      grid-template-columns: 1fr;
    }
  }
  &__text {
    p {
      margin-bottom: 16px;
    }
  }
}
//---------relation finish------------//

//---------work------------//
.work {
  &__accordion {
    counter-reset: num;
  }
  &__accordion-count {
    position: relative;
    padding-left: 40px;
    &::before {
      content: "0" counter(num);
      counter-increment: num;
      font-size: 20px;
      position: absolute;
      left: 0;
      top: 25px;
    }
  }
}
.work-block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  margin-bottom: 50px;
  @media (max-width: 1023px) {
    grid-template-columns: 1fr;
  }
  @media (max-width: 575px) {
    margin-bottom: 32px;
  }
  &:last-child {
    margin-bottom: 0;
  }
  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
    @media (max-width: 575px) {
      grid-template-columns: 1fr;
    }
  }
  &__list-item {
    div {
      color: rgb(var(--primary));
      font-size: 52px;
      line-height: 100%;
      font-weight: 500;
      margin-bottom: 16px;
    }
    span {
      color: rgba(20, 21, 23, 0.6);
      font-size: 16px;
      font-weight: 400;
      @media (max-width: 575px) {
        font-size: 14px;
      }
    }
  }
  &__partners {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
    a {
      display: grid;
      grid-template-columns: 1fr;
      gap: 10px;
      transition: 0.3s;
      span {
        display: block;
        position: relative;
        background-position: 0 center;
        background-repeat: no-repeat;
        transition: 0.3s;
        @media (max-width: 575px) {
          background-size: contain;
        }
      }
      &:nth-child(1) {
        span {
          background-image: url("../img/selectel-gray.svg");
          height: 58px;
        }
        &:hover {
          @media (any-hover: hover) {
            span {
              background-image: url("../img/selectel-color.svg");
            }
          }
        }
      }
      &:nth-child(2) {
        span {
          background-image: url("../img/timeweb-gray.svg");
          height: 58px;
        }
        &:hover {
          @media (any-hover: hover) {
            span {
              background-image: url("../img/timeweb-color.svg");
            }
          }
        }
      }
      p {
        font-size: 16px;
        color: rgba(20, 21, 23, 0.6);
      }
    }
  }
}
//---------work finish------------//

//---------offer------------//
.offer {
  &__inner {
    position: relative;
    &::after {
      content: "";
      background-image: url("../img/chain-right.webp");
      background-repeat: no-repeat;
      background-position: 50% 0;
      background-size: cover;
      display: block;
      position: absolute;
      right: 10px;
      top: 190px;
      width: 450px;
      height: 450px;
      @media (max-width: 1023px) {
        display: none;
      }
    }
  }
  &__head {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    margin-bottom: 40px;
    @media (max-width: 767px) {
      grid-template-columns: 1fr;
    }
  }
  &__more {
    a {
      @media (max-width: 575px) {
        width: 100%;
        text-align: center;
      }
    }
    p {
      margin-bottom: 24px;
    }
  }
  &__body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "a b ." ". c d";
    gap: 24px;
    @media (max-width: 1023px) {
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "a b" "c d";
    }
    @media (max-width: 767px) {
      grid-template-columns: 1fr;
      grid-template-areas: "a" "b" "c" "d";
    }
  }
}
.offer-item {
  background-color: #fff;
  border-radius: 24px;
  overflow: hidden;
  padding: 24px;
  height: 370px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media (max-width: 767px) {
    height: auto;
  }
  &:nth-child(1) {
    grid-area: a;
  }
  &:nth-child(2) {
    grid-area: b;
  }
  &:nth-child(3) {
    grid-area: c;
  }
  &:nth-child(4) {
    grid-area: d;
  }
  &__name {
    color: rgb(var(--primary));
    font-size: 28px;
    font-weight: 500;
    padding-bottom: 16px;
  }
  &__descr {
    p {
      font-size: 16px;
      color: inherit;
    }
  }
  &__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding-top: 16px;
    span {
      color: rgb(var(--primary));
      background-color: rgba(var(--primary), 0.1);
      font-size: 14px;
      padding: 8px 16px;
      border-radius: 30px;
    }
  }
}
//---------offer work------------//

//---------faq------------//
.faq {
  &__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    @media (max-width: 1023px) {
      grid-template-columns: 1fr;
    }
  }

  &__block {
    &:first-child {
      display: flex;
      flex-direction: column;
      img {
        margin-top: auto;
        @media (max-width: 1023px) {
          display: none;
        }
      }
    }
  }
}
//---------faq finish------------//
//---------job------------//
.job {
  margin-top: 64px;
  &__bg {
    background-image: url("../img/consult.webp");
    background-position: center center;
    background-repeat: no-repeat;
    color: #fff;
    padding-top: 64px;
    padding-bottom: 64px;
    border-radius: 24px;
    @media (max-width: 1023px) {
      background: rgba(20, 21, 23, 1);
    }
  }
  &__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    @media (max-width: 1023px) {
      grid-template-columns: 1fr;
    }
  }
  &__offer {
    margin-bottom: 40px;
    p {
      color: #fff;
      margin-bottom: 16px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    a {
      color: rgb(var(--primary));
      font-style: 20px;
      white-space: nowrap;
    }
  }
}
//---------job finish------------//

//---------contact------------//
.contact {
  &__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    @media (max-width: 767px) {
      grid-template-columns: 1fr;
    }
  }
}
.contact-item {
  margin-bottom: 32px;
  &:last-child {
    margin-bottom: 0;
  }
  &__phone {
    color: rgb(var(--primary));
    margin-bottom: 16px;
    display: block;
  }
  &__email {
    display: block;
  }
  &__social {
    display: flex;
    flex-direction: column;
    gap: 10px;
    a {
      display: inline-flex;
      align-items: center;
      gap: 10px;
      @media (max-width: 575px) {
        display: flex;
        justify-content: center;
      }
    }
    svg {
      width: 24px;
      height: 24px;
    }
  }
  &__photo {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 12px;
    p {
    }
  }
}
//---------contact finish------------//

.footer {
  &__bg {
    background-color: rgba(20, 21, 23, 0.05);
    border-radius: 16px;
    padding: 24px;
  }
  &__row {
    color: rgba(20, 21, 23, 0.6);
    font-size: 14px;
    p {
      display: flex;
      align-items: center;
      gap: 5px;
    }
  }
  &__wrap {
    padding: 0;
  }
  &__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    @media (max-width: 767px) {
      grid-template-columns: 1fr;
    }
  }
  &__block {
    &:first-child {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 10px;
      @media (max-width: 767px) {
        order: 2;
      }
    }
    &:last-child {
      background-color: #fff;
      border-radius: 16px;
      padding: 24px;
      @media (max-width: 767px) {
        order: 1;
      }
    }
  }
}
.footer-look {
  &__name {
    margin-bottom: 24px;
  }
  &__more {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    a {
      display: flex;
      align-items: center;
      gap: 10px;
      white-space: nowrap;
      @media (max-width: 575px) {
        width: 100%;
        justify-content: center;
      }
      svg {
        width: 24px;
      }
    }
    p {
      font-size: 16px;
      color: rgba(20, 21, 23, 0.6);
      @media (max-width: 575px) {
        margin: 0 auto;
      }
    }
  }
}
